<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>


<form class="reg" action="/users/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  First Name:
  <input type="text" name="user[fname]" value="">
  Last Name:
  <input type="text" name="user[lname]" value="">
  Email
  <input type="email" name="user[email]">
    Password:
  <input type="password" name="user[password]" >
  Conformation Password:
  <input type="password" name="user[password_confirmation]">
  <input type="submit" name="submit" value="Join">
</form>
